.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 0.8em;
}

.form input {
  padding: 4px;
}
